.footer {
  padding: 1rem;
  font-size: 0.75rem;
  text-align: center;
  background: #2c3e50;
  color: #eee;
}

.link {
  color: #bdc3c7;
  text-decoration: none;
}

.reference {
  font-weight: 100;
}
